@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-SemiBold.ttf);
}

body {
    direction: rtl;
    font-family: ar-font;
}

header {
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center center;
}

header .brand {
    padding: 20px 10px;
    margin: 80px auto 50px;
    border-bottom: 5px solid #464c54;
    display: inline-block;
}

header .page-heading h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    line-height: 75px;
}

header .page-heading p {
    font-size: 18px;
    color: #acacac;
    line-height: 25px;
    width: 40%;
    margin: 0 auto;
}

header .counter .countdown-amount {
    font-size: 60px;
    font-weight: bold;
    color: #ffce00;
    display: block;
}

header .counter .countdown-period {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    display: block;
}

header .counter .countdown-section {
    display: inline-block;
    margin: 0px 20px;
}

header .counter {
    margin: 60px auto;
    padding: 30px;
}

header .send-notification p {
    font-size: 18px;
    color: #fff;
}

header .send-notification .input-group input {
    font-size: 18px;
    font-family: ar-font;
    color: black;
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 0px;
    height: calc(2.875rem + 12px);
}

footer .input-group input {
    height: calc(2.875rem + 13px) !important;
}

footer .input-group {
    font-size: 18px;
    font-family: ar-font;
    color: black;
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 0px;
    height: calc(2.875rem + 12px);
}

header .send-notification .input-group button {
    border-radius: 0px;
    padding: .5rem 1.5rem;
    background-color: #ffce00;
    border: 1.3px solid transparent;
}

footer button {
    background-color: #393939 !important;
    border-radius: 0px !important;
    padding: .5rem 1.5rem !important;
    border: 1.3px solid transparent !important;
}

header .send-notification .input-group, footer .input-group {
    width: 30%;
    margin: 0 auto;
    -webkit-transform: translateY(70%);
    -ms-transform: translateY(70%);
    transform: translateY(70%);
}

header .send-notification .input-group .alert, footer .alert {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    display: none;
}

@media (max-width: 768px) {
    .animate__bounceIn {
        animation-name: none !important;
    }
    .animate__fadeInUp {
        animation-name: none !important;
    }
    .animate__fadeInDown {
        animation-name: none !important;
    }
    .animate__zoomIn {
        animation-name: none !important;
    }
}

section.features h2 {
    font-size: 45px;
    margin-bottom: 50px;
    color: #464c54;
}

section.features {
    padding: 135px 0;
}

section.features .media {
    border: 4px solid #fafafa;
    padding: 40px 10px;
    margin-bottom: 20px;
    max-height: 100%;
}

section.features .media.b {
    padding-top: 35px;
    padding-bottom: 73px;
}

@media (max-width:992px) {
    section.features .media.b {
        padding-bottom: 97px !important;
    }
}

@media (min-width:992px) {
    section.features .media.b {
        padding-bottom: 45px !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    section.features .media.b {
        padding-bottom: 72px !important;
    }
}

section.features .media .media-body h5 {
    font-size: 24px;
    color: #555555;
}

section.features .media .media-body p {
    font-size: 15px;
    color: #9c9c9c;
    line-height: 25px;
}

section.features .media img {
    margin-left: 10px;
}

section.features .left {
    text-align: left;
}

section.features .a {
    margin-left: 0px !important;
    margin-right: 10px;
}

footer {
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-position: center center;
}

footer .top-footer .overlay {
    background: rgba(255, 204, 0, 0.7);
    padding: 60px 0px;
}

footer .top-footer .overlay h3 {
    font-size: 30px;
    color: #555555;
    margin-bottom: 0 auto 30px;
}

footer .top-footer .overlay .input-group {
    width: 30%;
    margin: 0 auto;
    position: relative;
}

footer .top-footer .overlay .input-group input {
    border-radius: 0;
    font-size: 18px;
    font-family: ar-font;
    color: #c7c7c7;
    border-color: #fff;
}

footer .top-footer .overlay .input-group input:hover, footer .top-footer .overlay .input-group input:focus {
    box-shadow: 0 0 0;
    border-color: #fff;
}

footer .top-footer .overlay .input-group button {
    border-radius: 0;
    background-color: #393939;
    padding: .5rem 1.5rem;
}

footer .top-footer .overlay .alert {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
}

footer .top-footer .overlay .input-group input {
    height: auto;
}

footer .contact {
    background-color: rgba(28, 28, 28, 0.7);
    padding: 60px 0 10px;
    color: #fff;
}

footer .contact h3 {
    font-size: 30px;
    margin: 0 auto 30px;
    color: #fff;
}

footer .contact ul li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    background-color: rgba(255, 255, 255, 0.14);
    color: #fff;
    font-size: 1.2em;
    padding: 25px;
}

footer .contact ul li {
    margin: 0 5px 10px;
}

footer .contact ul li a:hover {
    background-color: #fad32f;
    color: #555555;
}

footer .contact hr {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    width: 50%;
    margin-top: 50px;
}

footer .contact p a {
    color: #b4b4b4;
}

footer .contact p a i {
    color: #fad32f;
    margin-left: 5px;
}